<section id="shopify-sticky-content-banner" class="sticky-content-{{ section.id }}">

<style data-shopify="">
.sb-banner>.container .sb-banner-box{overflow:hidden}.sb-banner__wrapper{width:100%;z-index:2;justify-content:space-between;flex-direction:column}@media screen and (min-width: 750px){.sb-banner__wrapper{flex-direction:row}}.sb-banner__wrapper.container{padding:0}.sb-banner__column{position:relative;display:flex;flex-direction:column;padding:2.4rem;z-index:12;height:100%}@media screen and (min-width: 1100px){.sb-banner__column{padding:6.4rem 2.4rem 2.4rem 6.4rem;flex:0 0 50%}}.sb-banner__heading{margin:0}.sb-banner__information{margin:1.4rem auto 0 auto;max-width:53rem}.sb-banner__button-wrapper{margin-top:2rem;gap:2rem;flex-wrap:wrap;display:flex;align-items:center}.sb-banner__column-overlay{display:flex;justify-content:flex-end}.sb-banner__column-overlay .sb-banner__column-overlay-all{display:flex;justify-content:end}.sb-banner__column-content .sb-banner__column-item{max-width:500px;position:sticky;padding-bottom:2.2rem}.sb-banner__column-content .sb-banner__column-item-center{top:calc(40% - 64px)}.sb-banner__column-content .sb-banner__column-item-top{top:32px}@media screen and (max-width: 1200px){.sb-banner__column-content .sb-banner__column-item{max-width:60rem}}@media screen and (min-width: 990px){.sb-banner__column-content:after{content:"";display:block;padding-bottom:var(--image-height)}}.sb-banner-box{display:flex;position:relative;max-height:400px}@media screen and (min-width: 750px){.sb-banner-box{max-height:unset}}.sb-banner-box .sb-banner-item-btns{background:transparent;margin-top:auto;display:flex;flex-wrap:wrap;gap:12px;z-index:1;padding-top:2rem}@media screen and (min-width: 750px){.sb-banner-box .sb-banner-item-btns{padding-top:0;justify-content:flex-end}}.sb-banner-box .sb-banner-item-btns .subtitle{opacity:.7}.sb-banner__img{width:100%;height:100%;position:absolute;max-width:100%;max-height:100%;left:0;top:0}.sb-banner__img:before{border-radius:var(--border-radius-media)}.sb-banner__img img,.sb-banner__img svg{width:100%;height:100%;max-width:100%;max-height:100%;object-fit:cover;object-position:center;z-index:-2;position:relative}.sb-banner__column-radius:before{border-radius:0}.sb-banner__column--center .sb-banner__column-content{text-align:center;display:flex;flex-direction:column;align-items:center;margin:0 auto}.sb-banner__column--center .sb-banner__column-content .sb-banner__button-wrapper{justify-content:center}.sb-banner__column--center .sb-banner__column-content .sb-banner__information{margin:1.4rem auto 0}.sb-banner__column--center .sb-banner__column{margin:0 auto}.sb-banner__button{margin-top:2rem}.sb-banner__text{margin:0}.sb-banner__text .banner{display:flex;position:relative;flex-direction:column;min-height:initial;padding-top:0;padding-bottom:2.4rem}.sb-banner__text .banner--container{padding-inline:0}.sb-banner__text .banner--padding{padding:2.4rem}.sb-banner__text .banner__media-half{width:50%}.sb-banner__text .banner__media-half+.banner__media-half{right:0;left:auto}@media screen and (max-width: 749px){.sb-banner__text .banner--stacked .banner__media-half{width:100%}.sb-banner__text .banner--stacked .banner__media-half+.banner__media-half{order:1}.sb-banner__text .banner>.banner__media{height:39rem;margin-bottom:2rem}}@media screen and (min-width: 750px){.sb-banner__text .banner__media{position:absolute;height:100%}}.sb-banner__text .banner--adapt{height:auto}@media screen and (max-width: 749px){.sb-banner__text .banner--stacked:not(.banner--adapt) .banner__media{height:39rem}.sb-banner__text .banner:before{display:none!important}.sb-banner__text .banner--stacked .banner__media-image-half{width:100%}}.sb-banner__text .banner__overlay{display:none!important}@media screen and (min-width: 750px){.sb-banner__text .banner__overlay{position:absolute;top:0;right:0;bottom:0;left:0;display:block!important;z-index:1}}.sb-banner__text .banner__content{padding:0;display:flex;position:relative;width:100%;justify-content:center}@media screen and (min-width: 750px){.sb-banner__text .banner__content{padding-bottom:5rem;padding-top:5rem}}.sb-banner__text .banner__box{border:0;padding:4rem 3.5rem;position:relative;height:fit-content;align-items:center;text-align:center;width:100%}.sb-banner__text .banner__box>*+.banner__buttons{margin:0 auto;margin-top:2.3rem;transform:translate(1rem)}.sb-banner__text .banner__box>*+.banner__buttons--multiple{display:flex;max-width:45rem;flex-wrap:wrap;align-items:baseline;justify-content:center}@media screen and (min-width: 750px){.sb-banner__text .banner__box>*+.banner__buttons{margin-top:2rem}}.sb-banner__text .banner__content .button+.button{margin-top:1.5rem}.sb-banner__text .banner__content .button{height:auto;margin-right:2rem}.sb-banner__text .banner__box>*+.banner__text{margin-top:1.5rem}@media screen and (min-width: 750px){.sb-banner__text .banner__box>*+.banner__text{margin-top:2rem}}.sb-banner__text .banner__box>*+*{margin-top:1rem}.sb-banner__text .banner__box>*:first-child{margin-top:0}@media screen and (max-width: 749px){.sb-banner__text .banner__content .button{flex-grow:1}.sb-banner__text .banner--stacked .banner__box{width:100%}}@media screen and (min-width: 750px){.sb-banner__text .banner__box{padding:4rem;width:54.8rem}.sb-banner__text .banner__box>.banner__buttons:only-child .button{margin-top:0}}.sb-banner__text .banner__heading>*,.sb-banner__text .banner__text>*{word-wrap:break-word}.sb-banner__text .banner__heading{margin-bottom:0}.sb-banner__text .sb-banner .banner__media{overflow:visible}.sb-banner__text .image--top{flex-direction:column;padding:0}.sb-banner__text .image--top .banner__media{position:relative;height:auto}.sb-banner__text .image--top .sb-banner__wrapper{margin-top:3.5rem}.sb-banner__text .image--overlay .sb-banner__wrapper{z-index:2}.sb-banner__text .sb-banner .banner--landscape .banner__media:before,.sb-banner__text .sb-banner .image--overlay.banner--landscape:before{padding-bottom:50%;content:"";display:block}.sb-banner__text .sb-banner .banner--portrait .banner__media:before,.sb-banner__text .sb-banner .image--overlay.banner--portrait:before{padding-bottom:150%;content:"";display:block}.sb-banner__text .sb-banner .banner--square .banner__media:before,.sb-banner__text .sb-banner .image--overlay.banner--square:before{padding-bottom:100%;content:"";display:block}.sb-banner-overlay .sb-banner__column-content{max-width:88rem;padding-right:2.4rem}.sb-banner-overlay .sb-banner__column-content .sb-banner__information{max-width:53rem}.sb-banner-overlay .sb-banner-box{max-height:unset}.sb-banner-overlay .sb-banner__column{padding:2.4rem}.sb-banner-overlay .sb-banner__wrapper{display:flex;width:100%;flex-direction:column}@media screen and (min-width: 990px){.sb-banner-overlay .sb-banner__wrapper{flex-direction:unset}}.sb-banner-overlay .sb-banner__wrapper .sb-banner__column-overlay{padding:2.4rem;border-top:.1rem solid rgba(var(--color-border))}.sb-banner-overlay .sb-banner__wrapper .sb-banner__column-overlay:after{content:"";display:block;padding-bottom:var(--image-height)}@media screen and (min-width: 990px){.sb-banner-overlay .sb-banner__wrapper .sb-banner__column-overlay{border-top:unset;flex:0 0 50%;border-left:.1rem solid rgba(var(--color-border))}}.sb-banner-overlay .sb-banner__wrapper .sb-banner__column-overlay img{border-radius:var(--border-radius-media)}.sb-banner-overlay .sb-banner__wrapper .sb-banner__column-overlay .sb-banner__column-overlay-all{position:relative;width:100%;height:100%;display:flex;justify-content:end}.sb-banner-overlay .sb-banner__wrapper .sb-banner-item-btns{padding:2.4rem}
.sticky-content-banner-padding {
  padding-top: 0;

  padding-bottom: 0;
}
  .sb-banner__column-item.center .sb-banner__heading {
    font-size: 45px;
  }
  .sb-banner__column-item.center {
    max-width: 800px;
}


.sb-banner__column-content .sb-banner__column-item-center.center {
    margin: 0 auto;
    text-align: center;
}
.sb-banner__column-content .sb-banner__column-item-center.center .sb-banner__button-wrapper {
    justify-content: center;
}

@media screen and (min-width: 990px) {
  .sticky-content-banner-padding {
    padding-top: 0;

    padding-bottom: 0;
  }
}

@media screen and (min-width: 1100px) {
  .sticky-content-banner-padding {
    padding-top: 0;

    padding-bottom: 0;
  }
}

@media screen and (min-width: 1366px) {
  .sticky-content-banner-padding {
    padding-top: 0;

    padding-bottom: 0;
  }
}

#shopify-sticky-content-banner {
  padding-top: 0;

  padding-bottom: 0;
}

@media screen and (min-width: 990px) {
  #shopify-sticky-content-banner {
    padding-top: 0;

    padding-bottom: 0;
  }
}

@media screen and (min-width: 1100px) {
  #shopify-sticky-content-banner {
    padding-top: 0;

    padding-bottom: 0;
  }
}

@media screen and (min-width: 1366px) {
  #shopify-sticky-content-banner {
    padding-top: 0;

    padding-bottom: 0;
  }
}

#shopify-sticky-content-banner .have-overlay {
  --overlay-alpha: 30%;
}
#shopify-sticky-content-banner {
  --image-height: 30vh;
}


</style>
{% comment %} {{ 'section-sb-banner.css' | asset_url | stylesheet_tag }} {% endcomment %}

<section class="sb-banner-section spaced-section">

  <div class="sb-banner">
    <div class="sb-banner-box color-background-2 background sticky-content-banner-padding">
      <div class="sb-banner__wrapper container">

        <!-- LEFT CONTENT -->
        <div class="sb-banner__column sb-banner__column--column">
          <div class="sb-banner__column-content">
            <div class="sb-banner__column-item sb-banner__column-item-center
  {% if section.settings.column_alignment == 'center' %}
    center
  {% elsif section.settings.column_alignment == 'right' %}
    left
  {% endif %}">

              {% if section.settings.heading != blank %}
                <h2 class="sb-banner__heading h2">
                  {{ section.settings.heading }}
                </h2>
              {% endif %}

              {% if section.settings.description != blank %}
                <div class="sb-banner__information richtext__content large-font">
                  {{ section.settings.description }}
                </div>
              {% endif %}

              <div class="sb-banner__button-wrapper">
                {% if section.settings.btn1_label != blank %}
                  <a href="{{ section.settings.btn1_link }}" class="btn button-secondary" style="background: {{ section.settings.btn2_bg_color }};color: {{ section.settings.btn2_color }}">
                    <span class="">{{ section.settings.btn1_label }}</span>
                  </a>
                {% endif %}

                {% if section.settings.btn2_label != blank %}
                  <a href="{{ section.settings.btn2_link }}" class="btn button-primary" style="background: {{ section.settings.btn2_bg_color }};color: {{ section.settings.btn2_color }}">
                    <span class="">{{ section.settings.btn2_label }}</span>
                    <span class="button-icon">
                      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-button-arrow">
                        <path d="M8.22917 3.75L11.875 7.5M11.875 7.5L8.22917 11.25M11.875 7.5L3.125 7.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>
                {% endif %}
              </div>

            </div>
          </div>

          {% comment %} <div class="sb-banner-item-btns color-background-2 background">
            {% if section.settings.tag1 != blank %}
              <div class="subtitle">{{ section.settings.tag1 }}</div>
            {% endif %}
            {% if section.settings.tag2 != blank %}
              <div class="subtitle">{{ section.settings.tag2 }}</div>
            {% endif %}
          </div> {% endcomment %}
        </div>

        <!-- RIGHT IMAGE -->
        <div class="sb-banner__column-overlay">
          <div class="sb-banner__column-overlay-all">
            <div class="sb-banner__img have-overlay sb-banner__column-radius">
              {% if section.settings.banner_image != blank %}
                <img
                  src="{{ section.settings.banner_image | image_url: width: 3840 }}"
                  alt="{{ section.settings.banner_image.alt | escape }}"
                  srcset="
                    {{ section.settings.banner_image | image_url: width: 375 }} 375w,
                    {{ section.settings.banner_image | image_url: width: 550 }} 550w,
                    {{ section.settings.banner_image | image_url: width: 750 }} 750w,
                    {{ section.settings.banner_image | image_url: width: 1100 }} 1100w,
                    {{ section.settings.banner_image | image_url: width: 1500 }} 1500w,
                    {{ section.settings.banner_image | image_url: width: 1780 }} 1780w,
                    {{ section.settings.banner_image | image_url: width: 2000 }} 2000w,
                    {{ section.settings.banner_image | image_url: width: 3000 }} 3000w,
                    {{ section.settings.banner_image | image_url: width: 3840 }} 3840w
                  "
                  width="{{ section.settings.banner_image.width }}"
                  height="{{ section.settings.banner_image.height }}"
                  loading="lazy"
                  sizes="100vw">
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Parallax Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Little Dreams Become Big Adventures in a Store Filled with Wonder and Joy"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Explore a world of imagination and excitement as tiny aspirations blossom into grand adventures in a collection overflowing with wonder and happiness.</p>"
    },
    {
      "type": "text",
      "id": "btn1_label",
      "label": "Button 1 Label",
      "default": "Shop Collection"
    },
    {
      "type": "url",
      "id": "btn1_link",
      "label": "Button 1 Link"
    },
    {
      "type": "color",
      "id": "btn1_bg_color",
      "label": "Button 1 BG Colour"
    },
    {
      "type": "color",
      "id": "btn1_color",
      "label": "Button 1 Colour"
    },
    {
      "type": "text",
      "id": "btn2_label",
      "label": "Button 2 Label",
      "default": "Explore New Arrivals"
    },
    {
      "type": "url",
      "id": "btn2_link",
      "label": "Button 2 Link"
    },
    {
      "type": "color",
      "id": "btn2_bg_color",
      "label": "Button 2 BG Colour"
    },
    {
      "type": "color",
      "id": "btn2_color",
      "label": "Button 2 Colour"
    },
    {
    "type": "range",
    "id": "heading_font_size",
    "label": "Heading Font Size",
    "min": 16,
    "max": 80,
    "step": 2,
    "unit": "px",
    "default": 24
    },
    {
        "type": "select",
        "id": "column_alignment",
        "label": "Column Alignment",
        "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
        ],
        "default": "left"
        }

  ],
  "presets": [
    {
      "name": "Parallax Banner"
    }
  ]
}
{% endschema %}